<head>
  <title>Question w/o Answers</title>
</head>
<body>
  <div class="jumbotron">
    <h1>Koanzzor</h1>
    <!-- Nav buttons here, eventually -->
  </div>
  <div class="container">
    {{outlet}}
  </div>
</body>
