<head>
  <title>Question w/o Answers</title>
</head>
<body>
  {{#link-to 'index'}}
  <div class="jumbotron">
    <div id="header-center">
      <h1>Koanzzor</h1>
      <h4>Crowdsourcing the path to Enlightenment</h4>
    </div>
  </div>
  {{/link-to}}
  <div class="container">
    {{outlet}}
  </div>
</body>
