<div class="row top-row">
  {{question-add addQuestion="addQuestion"}}
</div>
<div class="row bottom-row">
  <h2>Question List!</h2>
  {{#each model as |question|}}
    {{#link-to 'question' question.id}}
    {{question-display-short question=question}}
    {{/link-to}}
  {{/each}}
</div>
