
<div class="row question-form">
  {{question-add addQuestion="addQuestion"}}
</div>
<div class="row question-list">
  <h2>Question List!</h2>
  {{#each model as |question|}}
  <!--Add link to dynamic route  -->
    {{question-display-short question=question}}
  {{/each}}
</div>
