<div class="row question-display">
  {{answer-add question=model.question addAnswer="addAnswer" updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
</div>
<div class="row question-list">
  <h2>The many paths to true understanding:</h2>
  {{#each model.question.answers as |answer|}}
    {{answer-display answer=answer question=model.question deleteAnswer="deleteAnswer" }}
  {{/each}}
</div>
