<div class="row question-display">
  <h2>!!!{{model.question.questionTitle}}</h2>
  {{answer-add question=model.question addAnswer="addAnswer" updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
</div>
<div class="row question-list">
  <h2>Answer List!</h2>
  {{#each model.question.answers as |answer|}}
    <h2>{{answer.answerTitle}}</h2>
  {{/each}}

</div>
