<div class="row question-display">
  {{answer-add question=model.question addAnswer="addAnswer" updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
</div>
<div class="row question-list">
  <h2>The many paths to true understanding:</h2>
  {{#each model.question.answers as |answer|}}
    <h2>{{answer-display answer=answer deleteAnswer="deleteAnswer"}}</h2>
  {{/each}}
</div>
